%html{ lang: "en"}
  = render "layouts/head"
  %body
    .container
      .content
        %h1 MicroDef Registery
    %hr
    .container
      .content
        .row
          .col-md-7
          .col-md-5
            = yield
